stages: 
    - build 
    - test
    - docker
build: 
    stage: build 
    script: 
        - ./gradlew assemble 
test: 
    stage: test 
    script:
         - ./gradlew test
sonarqube-check:
    stage: sonarqube-check
    script:
        - ./gradlew test sonar jacocoTestReport

